!!!
%html
  %head
    %title Naive Adventure Invention Engine
    %link{:rel => 'stylesheet', :href => "/assets/naive.css"}
    %script{:src => "/assets/naive.js"}
  %body.encycl-page
    #fb-root
    #content
      = yield