//= require ss-standard
//= require ss-social
//= require_self

@import "compass/css3"

@mixin square($size)
  height: $size
  width: $size

body
  background-color: black
  font: 16px "Helvetica Neue", sans-serif
  color: #333
