//= require_self

@import "compass/css3"
@import "stan/*.png"

@include all-stan-sprites

@mixin square($size)
  height: $size
  width: $size

body
  background-color: black
  font: 16px "Helvetica Neue", sans-serif
  color: #333

.canvas
  position: relative
  border: 1px solid red
  width: 800px
  height: 600px
  margin: 100px auto
  background-image: url(/images/nighthawks/nighthawks.png)

.actor
  position: relative
  display: block
  height: 175px
  width: 130px
